@model List<UserViewModel>

<div class="container">
    <div class="row">
        @foreach (var user in Model)
        {

            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h3>@user.FirstName @user.LastName</h3>
                        <p class="card-text"> Kullanıcı üzerinde bütün işlemleri bu alan içinde yapabilirsiniz </p>
                        <a href="/Admin/GetUser/@user.Id" class="btn btn-primary">Get User</a>
                        <a href="/Admin/UpdateUser/@user.Id" class="btn btn-primary">Update User</a>
                        <form action="/Admin/DeleteUser" method="post">
                            <input type="hidden" name="Id" value="@user.Id" />
                            <button type="submit" class="btn btn-danger">Delete User</button>
                        </form>
                    </div>
                </div>
            </div>


        }

    </div>
</div> 
