<div class="container">
    <div class="row">
        <div>
            <h4 class="text-center"> Fatura Öde </h4>
            <a href="/User/GetAllInvoiceByUserId" class="btn btn-lg btn-dark"> <i class="fas fa-file-invoice-dollar"></i></a>
        </div>

    </div>
    <div class="row">
        <div>
            <h4 class="text-center"> Mesaj Gönder  </h4>
            <a href="/User/SendMessageToAdmin" class="btn btn-lg btn-dark"> <i class="fas fa-envelope"></i> </a>
        </div>
    </div>
    @if (User.IsInRole("Admin"))
    {
        <div class="row">
            <div>
                <h4 class="text-center"> Kullanıcı Oluştur  </h4>
                <a href="/Admin/CreateUser" class="btn btn-lg btn-dark"> <i class="fas fa-user"></i> </a>
            </div>
        </div>

        <div class="row">
            <div>
                <h4 class="text-center"> Daire Oluştur  </h4>
                <a href="/Admin/CreateCircle" class="btn btn-lg btn-dark"> <i class="fas fa-building"></i> </a>
            </div>
        </div>

        <div class="row">
            <div>
                <h4 class="text-center"> Kullanıcıları Görüntüle  </h4>
                <a href="/Admin/GetAllUser" class="btn btn-lg btn-dark"> <i class="fas fa-users"></i> </a>
            </div>
        </div>

        <div class="row">
            <div>
                <h4 class="text-center">Daireleri Görüntüle</h4>
                <a href="/Admin/GetAllCircle" class="btn btn-lg btn-dark"> <i class="far fa-building"></i> </a>
            </div>
        </div>

        <div class="row">
            <div>
                <h4 class="text-center">Mesajları Görüntüle</h4>
                <a href="/Admin/GetAllMessage" class="btn btn-lg btn-dark"> <i class="fas fa-comments"></i> </a>
            </div>
        </div>

        <div class="row">
            <div>
                <h4 class="text-center">Aylık Borç Listesi</h4>
                <a href="/Admin/GetAllInvoice" class="btn btn-lg btn-dark"> <i class="fas fa-money-bill-wave"></i> </a>
            </div>
        </div>

        <div class="row">
            <div>
                <h4 class="text-center"> Ödenen Faturalar   </h4>
                <a href="/Admin/GetAllPaidBills" class="btn btn-lg btn-dark"> <i class="fas fa-piggy-bank"></i> </a>
            </div>
        </div>
    }



</div>
